# ================================
# Vue App - Environment Configuration Template
# ================================

# LOGGING & PERFORMANCE
VITE_ENABLE_LOGGER=true
VITE_ENABLE_PERFORMANCE_TRACKING=false

# AUTHENTICATION
VITE_AUTH_DEV_SHIM=cognito
# VITE_COGNITO_USER_POOL_ID=ap-northeast-1_IkW0OCWNo
# VITE_COGNITO_CLIENT_ID=6dnobgi3ek0qbbcp89qkhbob6o
# VITE_COGNITO_REGION=us-east-1

VITE_COGNITO_USER_POOL_ID=ap-northeast-1_rDF1G6fjq
VITE_COGNITO_CLIENT_ID=4gnau6gg3i00edk8p6ir0f3bgj
VITE_COGNITO_REGION=us-east-1

# APPLICATION SETTINGS
VITE_BASE_URL=/

# UI FEATURES
VITE_ENABLE_FOOTER_NAVIGATION=true
